.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */

    text-align: center;

    color: #1e1e1e;
    padding: 0;
    margin: 0;
  }

  .text {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 100% */

    text-align: center;

    color: #1e1e1e;
    padding: 0;
    margin: 0;
  }
}
